.review-list {
    margin-left: 20px;
}

.stats {
    width: fit-content;
    margin-bottom: 10px;
}

.score-icon{
    /* make circle dont touch */
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

    display: inline-block;
    position: fixed;
    top: 35px;
    left: 230px;
    border: 2px solid rgb(255, 254, 254);
    background-color: rgb(149, 220, 131);
    color: rgb(255, 255, 255);
    padding: 7px;
    box-shadow:  0 10px 2px rgb(0 0 0 / 0.2);
}

.text-basic {
    display: inline-block;
    justify-content: center;
    font-family: "Gill Sans Extrabold", sans-serif;
    text-align: center;
}

.mark {
    font-size:10px;
    width: fit-content;
    height: fit-content;
    margin:auto;
    display: inline-block;
}

.star {
    color: rgb(255, 255, 148);
    margin:auto;
    width: fit-content;
    height: fit-content;
    display: inline-block;
}