.container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.game-details {
    width: 40%;
    margin-left: 20px;
    height: min-content;
    border-right: 5px dotted black;
}

.review-section {
    background-color: rgb(230, 255, 224);
    padding: 4px;
    margin: 40px;
    /* border: 2px solid black; */
    width:100%;
    overflow-y: scroll; 
    display: flex;
    justify-content: center;
    align-self:center;
    padding: 10px;
}

.review-section::-webkit-scrollbar {
    width: 12px;
    /* height: 12px; */
}

.sep {
    width: 10%
}

.review-section::-webkit-scrollbar-track {
    background-color: transparent;
}

.review-section::-webkit-scrollbar-corner {
    background-color: transparent;
}

.review-section::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 30px;
    border: 2px solid #0F131A;
    width: 1em;
}

.review-section::-webkit-scrollbar-thumb:active {
    background-color: rgb(191, 255, 191);
}

.add-review-but {
    margin-left: 50px;
}