.container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.game-details {
    width: 40%;
    margin-left: 20px;
    height: min-content;
    border-right: 5px dotted black;
    justify-content: center;
    align-self:center;
}

.review-section {
    background-color: rgb(230, 255, 224);
    /* border-bottom: 5px dotted black; */
    padding: 10px;
    margin: 40px;
    width:700px;
    height:500px;
    overflow-y: scroll; 
    overflow-x: scroll; 
    justify-content: center;
    align-self:center;
}

.review-section::-webkit-scrollbar {
    width: 5px;
    /* height: 12px; */
}

.sep {
    width: 10%
}

.review-section::-webkit-scrollbar-track {
    background-color: transparent;
}

.review-section::-webkit-scrollbar-corner {
    background-color: transparent;
}

.review-section::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 30px;
    border: 2px solid rgb(230, 255, 224);
    width: 1em;
}

.review-section::-webkit-scrollbar-thumb:active {
    background-color: rgb(191, 255, 191);
}

.add-review-but {
    margin-left: 50px;
}